$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);

@keyframes neonGlow {
    0%,
    100% {
      text-shadow: 0 0 .5vw #DC832E, 0 0 1.5vw #BF2424, 0 0 5vw #BF2424, 0 0 5vw #BF2424, 0 0 .2vw #DC832E, .25vw .25vw .05vw #806914;
      color: #DC832E;
    }
    50% {
      text-shadow: 0 0 .25vw #800E0B, 0 0 .75vw #800E0B, 0 0 2.5vw #800E0B, 0 0 2.5vw #800E0B, 0 0 .1vw #800E0B, .25vw .25vw .05vw #40340A;
      color: #806914;
    }
  }